body{
  background: #EEECED;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-title{
  font-size: 18px;
  font-weight: bold;
}
#tasks-list{
  background-color: #fff;
  height: 372px;
  overflow-y: scroll;
}

#tasks-list ul li {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  align-items: center;
  
}

.checked {
  text-decoration: line-through;
}

#tasks-list button{
  font-size: 16px;
  margin-left: 18px;
}

.list-group-item-info{
  color: #000;
  
}


